name: Feature Branch Workflow
on:
  push:
    branches: [ "feature" ]
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Echo .NET version
      run: dotnet --version

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Run unit tests
      run: dotnet test ./UnitTests/*.csproj --verbosity quiet
  
  main-pr-on-completion:
    runs-on: ubuntu-latest
    needs: build
    if: needs.build.result == 'success'
    permissions:
      contents: write
      pull-requests: write
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: feature
      - name: Create pr to main from feature branch
        run: |
          gh pr create \
            --base main \
            --head feature \
            --title "CI: Promote feature to main (#${GITHUB_RUN_NUMBER})" \
            --body "Opened by CI after successful build & tests. Run: ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${GITHUB_RUN_ID}"